<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Address Book</title>
  </head>
  <body>
    <div class='container'>
      <h1>Address Book</h1>
    </div>
    <div class='container'>
      <h3>You created a contact!</h3>
      <div class='contactCard'>
        <p>Name: {{ contact.getName }}</p>
        <p>Phone Number: {{ contact.getPhone }}</p>
        <p>Address: {{ contact.getAddress }}</p>
      </div>
      <a href='/'>Home</a>
    </div>
  </body>
</html>
