<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Address Book</title>
  </head>
  <body>
    <div class='container'>
      <h1>Address Book</h1>
    </div>
    <div class='container'>
      <h3>Address Book Cleared!</h3>
      <a href='/'>Home</a>
    </div>
  </body>
</html>
