<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Address Book</title>
  </head>
  <body>
    <div class='container'>
      <h1>Address Book</h1>
    </div>
    <div id='contacts' class='container'>

    {% if contacts is not empty %}
      <h3>Your Contacts:</h3>
      {% for contact in contacts %}
        <div class='contactCard'>
          <p>Name: {{ contact.getName }}</p>
          <p>Phone Number: {{ contact.getPhone }}</p>
          <p>Address: {{ contact.getAddress }}</p>
        </div>
      {% endfor %}
      <form id='clear' method='post' action='/delete_contacts'>
        <button class='btn btn-danger' type='submit'>Clear Contacts</button>
      </form>
    {% else %}
      <h3>Add some contacts using the form below</h3>
    {% endif %}
    </div>
    <div class='container' id='homeBottom'>
      <h3>Create a Contact:</h3>
      <form method='post' action='/create_contact'>
        <ul>
          <li>
            <label for='name'>Name</label>
            <input type='text' id='name' name='name'>
          </li>
          <li>
            <label for='phone'>Phone Number</label>
            <input type='text' id='phone' name='phone'>
          </li>
          <li>
            <label for='address'>Address</label>
            <input type='text' id='address' name='address'>
          </li>
          <li>
            <button class='btn btn-primary' type='submit'>Add Contact</button>
          </li>
        </ul>
      </form>

  </div>
  </body>
</html>
