body {
  background-color: #deeaee;
}

form label {
  display: block;
}

form ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

form li {
  margin-bottom: 10px;
}

form li:last-of-type {
  margin-bottom: 0;
}

#homeBottom, #contacts {
  margin-top: 10px;
  background-color: #eef4f6;
  border-radius: 5px;
  padding: 5px 10px;
}

.contactCard {
  background-color: #fefbd8;
  border: 2px solid black;
  border-radius: 2px;
  padding: 3px;
  margin: 5px 0;
}
